:host {
	--navbar-offset: 70px;
	min-height: 98dvh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	padding-top: var(--navbar-offset);
}

@media (max-width: 768px) {
	:host {
		--navbar-offset: 136px;
	}
}
